<div class="profile-page">
  <div class="h-full bg-main-color  p-4">
    <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
      <div class="flex flex-col w-full 2xl:w-1/2">
        <div class="bg-main-color text-main-color rounded-lg shadow-xl pb-8 h-full">
          <div class="w-full h-[250px]">
            <img [src]="group.images[0]" class="w-full h-full rounded-tl-lg rounded-tr-lg object-cover">
          </div>
          <div class="flex flex-col items-center mt-20">
            <!-- <img [src]="seller.image" class="circlize border-2 border-white rounded-full"> -->
            <div class="flex items-center space-x-2 mt-2">
              <p class="text-2xl">{{ group.name }}</p>
              <!-- <span class="bg-blue-500 rounded-full p-1" title="Verified">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
                </svg>
              </span> -->
            </div>
            <p class="text-sm font-semibold">{{ group.startAt }} - {{ group.endAt }}</p>
            <p class="p-2 text-center">{{ group.description }}</p>
          </div>
          <!-- <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
            <div class="flex items-center space-x-4 mt-2">
              <button
                class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                  </path>
                </svg>
                <span>Connect</span>
              </button>
              <button
                class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>Message</span>
              </button>
            </div>
          </div> -->
        </div>

      </div>
      <div class="w-full flex flex-col 2xl:w-1/2">
        <app-group-info-card [group]="group"></app-group-info-card>
      </div>
    </div>


    <div class="bg-main-color rounded-b-none rounded-lg shadow-xl p-5 pb-3 border-b-[#A79277] border-[1px]">
      <mat-tab-group #tabGroup mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Products">
          <app-seller-page-products-components [products]="group.products"></app-seller-page-products-components>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="bg-main-color rounded-b-lg shadow-xl p-5 mb-2">
      <button class="hover:text-blue-400 hover:underline active:text-black text-main-color" (click)="seeAll(tabGroup.selectedIndex)">See
        All</button>
    </div>

  </div>
</div>